[2022-07-20 21:39] jawache opened #8 "YYYY MM DD - Green Software Patterns Agenda"
## Date
YYYY-MM-DD - 3pm UTC - See the time in your timezone https://everytimezone.com/s/a8399b00

## Meeting notices

### Antitrust Policy
Linux Foundation meetings involve participation by industry competitors, and it is the intention of the Linux Foundation to conduct all of its activities in accordance with applicable antitrust and competition laws. It is therefore extremely important that att

[2022-07-20 22:12] jawache opened #9 "YYYY MM DD - Green Software Patterns Agenda"
## Date
YYYY-MM-DD - 3pm UTC - See the time in your timezone https://everytimezone.com/s/a8399b00

## Meeting notices

### Antitrust Policy
Linux Foundation meetings involve participation by industry competitors, and it is the intention of the Linux Foundation to conduct all of its activities in accordance with applicable antitrust and competition laws. It is therefore extremely important that att

[2022-07-20 22:13] jawache opened #10 "YYYY MM DD - Green Software Patterns Agenda"
## Date
YYYY-MM-DD - 3pm UTC - See the time in your timezone https://everytimezone.com/s/a8399b00

## Meeting notices

### Antitrust Policy
Linux Foundation meetings involve participation by industry competitors, and it is the intention of the Linux Foundation to conduct all of its activities in accordance with applicable antitrust and competition laws. It is therefore extremely important that att

[2022-08-09 10:45] jawache opened #19 "2022 08 09 - Green Software Patterns Agenda"
## Date
2022 08 09 - 3pm UTC - See the time in your timezone https://everytimezone.com/s/a8399b00

## Meeting notices

### Antitrust Policy
Linux Foundation meetings involve participation by industry competitors, and it is the intention of the Linux Foundation to conduct all of its activities in accordance with applicable antitrust and competition laws. It is therefore extremely important that att

[2022-08-09 10:46] jawache commented on #19
Asim Hussain

[2022-08-09 11:03] holanita opened #20 "2022 08 09 - Green Software Patterns Agenda"
## Date
2022 08 09 - 1.30pm UTC - See the time in your timezone https://everytimezone.com/s/a8399b00

## Agenda
- [x] Review recently submitted patterns, if any
- [ ] Work on finalizing sample patterns
- [X] Tracking agendas and attendance in Github

## Decisions Made
The team will work on (sample) patterns asynchronously from now on as much as possible
9 sample patterns are now good to go, these

[2022-08-09 11:11] holanita commented on #19
please remove this version. I have added an updated one.

[2022-08-09 15:31] ccasher commented on #20
Attended

[2022-08-09 22:07] #10 closed

[2022-08-09 22:07] #19 closed

[2022-08-09 22:07] jawache commented on #20
Attended

[2022-08-09 22:11] jawache opened #22 "What should our guidance be for how low/high level a pattern should be?"
Adding this issue to discuss the PR https://github.com/Green-Software-Foundation/green-software-patterns/pull/18

Thanks for this @yelghali! I like how you've broken it out into two and given some thought on the impacts of the SCI and assumptions.

It's made me think however that we as a group need to discuss how low level or high level a pattern should be? This feels very high level - we already

[2022-08-09 22:22] jawache opened #23 "[PM] Each technical pillar/tag should have one lead"
So someone coming to the repo will be coming from a specific domain, e.g. If i'm a web developer I'm going to head here and I want to see the patterns for web development.

I'll want those patterns for web development to make sense to me as a web developer, to have a consistent voice, to ensure that there are not contradictory pattens etc...

When patterns are shared between say the web and cloud

[2022-08-09 22:23] jawache opened #24 "[PM] All patterns should be reviewed by a technical author"
To make sure our quality of writing stays high, I think just like we did for the principles training each pattern should be reviewed by a technical author, either a volunteer from the GSF or a hired staff member. @dubrie / @holanita

[2022-08-10 06:58] holanita commented on #20
Attended

[2022-08-10 07:15] holanita opened #25 "Asim to review why github action to deploy website is broken"

[2022-08-10 07:53] greenhsu123 commented on #20
Attended.

[2022-08-10 08:25] greenhsu123 commented on #22
Agreeing with @jawache, it's better to have more patterns targeting the same problem across domains in this initial phase. So, for example, right-sizing utilisation as an intent for Storage or Compute etc.

So each pattern should only have one solution that describes action on a resource (we briefly discussed this in our meetings last week). Maybe it's worthwhile to include this in the [guide](htt

[2022-08-10 08:33] greenhsu123 commented on #23
How about we describe each pillar by [role](https://patterns.greensoftware.foundation/tags#role) instead of [technology](https://patterns.greensoftware.foundation/tags#role)?

Although I think this pillar idea introduces unnecessary complexcity in this initial phase, specifically, what's the process to select a lead? Would we introduce co-leads, so we don't have a single point of failure? How abou

[2022-08-10 08:35] greenhsu123 commented on #24
Currently, we are looking to release approved patterns quarterly. How about we introduce the tech writer phase after consistency review before the release?

[2022-08-10 10:12] jawache commented on #25
This should be fixed now, FYI - every time we have a broken link, i.e. a link in the site which doesn't point anywhere or returns a 404, it fails to build (which is good)

[2022-08-15 17:21] Cooper-Cole commented on #24
Would be interested to learn more about this and potentially volunteer as the tech writer :)

[2022-08-15 23:07] dubrie commented on #22
I like @greenhsu123's suggestion of including this in guide to help define the appropriate level. This might even be a specific example we reference there as it highlights the gap really well and shows where in the stack and complexity we are looking for Patterns to be present.

[2022-08-15 23:08] dubrie commented on #25
Closing this as the actions are successfully building now: https://github.com/Green-Software-Foundation/green-software-patterns/actions

[2022-08-15 23:08] #25 closed

[2022-08-15 23:16] dubrie commented on #24
I think @greenhsu123's suggestion of doing this as part of or right after the consistency review is the right approach. At that point we have vetted the context and alignment so a technical writer can help provide the clarity and consistency of the content that was agreed upon.

[2022-08-16 10:40] yelghali commented on #22
hello team, thanks for your feedbacks ! @dubrie @jawache @greenhsu123

@dubrie I see that you would be the SME for first review. Thanks for that, and i'll add / push updates from your feedbacks.

It is still not clear to me where to draw the line for describing a pattern

To me it is the same "detail level" when we say for example :
* shift location
* or choose region closest to users when deployi

[2022-08-16 13:54] holanita opened #27 "2022 08 16 - Green Software Patterns Agenda"
## Date
2022-08-16 - 3pm UTC - See the time in your timezone https://everytimezone.com/s/a8399b00

## Agenda
- [x] Discuss the Education WG / sub-working group
- [x] Discussing updates on sample patterns

## Decisions Made
The Education WG will not be launched for now. We'll revisit this right before or after COP. Ideas about future projects and acitvities: workshops, content/knowledge sharing, un

[2022-08-16 14:28] ccasher commented on #27
Attended

[2022-08-16 14:29] jawache commented on #27
Attended

[2022-08-16 15:02] dubrie commented on #27
Attended

[2022-08-17 03:56] akshitbatra commented on #27
Attended.

[2022-08-17 13:33] holanita commented on #27
attended – action items have been updated to include new items, pending ones from previous weeks and future plans

[2022-08-17 16:51] holanita commented on #20
Closed. Pending items have been added to the current meeting agenda & memo.

[2022-08-17 16:51] #20 closed

[2022-08-18 14:04] holanita commented on #27
Updated - added 2 action items based on our discussion w/Asim after the meeting + 1 future plan based on the WG call

[2022-08-23 06:56] holanita opened #40 "2022 08 23 - Green Software Patterns Agenda & Minutes"
## Date
2022-08-23 - 1.30pm UTC - See the time in your timezone https://everytimezone.com/s/a8399b00

## Agenda
- [x] Discuss pending action items
- [x] Discuss new structure for sample patterns (suggested by editor)
- [x] Discuss next steps for SMEs (generic email, new contributors, add them to GitHub?)

## Discussions
About the new pattern structure suggested by the editor:
- Keep the word 'prob

[2022-08-23 06:58] #27 closed

[2022-08-23 07:12] holanita commented on #40
@jawache @dubrie @greenhsu123 please review pending items so we can give a status update in the call today

[2022-08-23 14:55] holanita commented on #40
attended

[2022-08-23 15:49] greenhsu123 commented on #40
attended.

[2022-08-23 16:19] dubrie commented on #40
attended.

[2022-08-23 21:37] jawache commented on #40
Attended

[2022-08-31 00:59] dubrie commented on #22
I've added some additional detail and guidance for this on the [Guide page](https://patterns.greensoftware.foundation/guide#how-granular-should-my-pattern-be). I will close this issue for now but please reopen or create a new one with any confusion or additional clarity that is needed

[2022-08-31 01:11] dubrie opened #42 "Optimizing Peak CPU Usage"
**Describe the pattern you'd like to propose**
CPU usage and utilization varies throughout the day, often wildly for different computational requirements. By focusing on optimizing/reducing the peak values your system has you can reduce the overall emissions impact and make your system more predictable overall.

**Describe specific emission impact from this pattern**
By reducing peak CPU usage, th

[2022-08-31 01:16] dubrie opened #43 "Load Shedding Lower Priority Traffic"
**Describe the pattern you'd like to propose**
Given a way to identify and prioritize system requests, you could drop or delay lower priority requests during times of high carbon intensity.

**Describe specific emission impact from this pattern**
This would reduce the overall usage and emissions during high intensity and move that traffic to periods of lower emission intensity

**References to thi

[2022-09-01 12:21] holanita opened #44 "2022 09 01 - Green Software Patterns Agenda & Minutes"
## Date
2022-09-01 - 1.30pm UTC

## Agenda
- [x] Discuss process for new patterns (how to work with the editor)
- [x] Confirm final structure for patterns (see suggestions by editor)
- [x] Discuss next steps for SMEs (areas not covered, communication, action steps, etc.)

## Discussions
SMEs:
- we have 8-9 SMEs at the moment, 3 tags missing, not much coverage on AI (Bill)
- further details relatin

[2022-09-01 12:21] #40 closed

[2022-09-01 14:29] dubrie commented on #44
attended

[2022-09-01 14:29] akshitbatra commented on #44
Attended

[2022-09-01 14:59] holanita commented on #44
attended

[2022-09-01 15:26] ccasher commented on #44
attended

[2022-09-06 08:13] #44 closed

[2022-09-06 08:18] holanita opened #45 "2022 09 06 - Green Software Patterns Agenda & Minutes #44"
## Date
2022-09-01 - 1.30pm UTC

## Agenda
Tasks have been parked as our priority for the week is the training (principles).
TBD: working with the editor, final structure for patterns, working with SMEs

## Discussions
n/a

## Actionable Items
- [ ] (Anita/Team) double check whether all sample patterns match the updated [template](https://github.com/Green-Software-Foundation/green-software-pattern

[2022-09-09 09:15] greenhsu123 commented on #45
attended

[2022-09-09 09:16] holanita commented on #45
attended

[2022-09-09 15:16] dubrie commented on #45
attended

[2022-09-13 12:43] #45 closed

[2022-09-13 12:50] holanita opened #47 "2022 09 13 - Green Software Patterns Agenda & Minutes"
## Date
2022-09-13 - 1.30pm UTC

## Agenda
- [x] Asim – define the exact steps of working with the editor when adding new patterns (labels, content, etc.)
- [x] Asim – define final structure for patterns and update the template / format accordingly
- [x] Asim – adding new patterns, converting discussions into issues
- [x] working with SMEs and orgs (call w/ VMware)

## Discussions
- Asim will shar

[2022-09-13 16:41] dubrie commented on #47
attended

[2022-09-13 16:42] holanita commented on #47
attended

[2022-09-13 16:42] akshitbatra commented on #47
Attended.

[2022-09-13 16:45] greenhsu123 commented on #47
attended.

[2022-09-13 16:47] ccasher commented on #47
attended

[2022-09-20 12:57] #47 closed

[2022-09-20 13:08] holanita opened #51 "2022 09 20 - Green Software Patterns Agenda & Minutes"
## Date
2022-09-20 - 1.30pm UTC

## Agenda
- [ ] adding new patterns for Asim (Jasper, volunteers)
- [ ] working with SMEs and orgs (call w/ VMware)
- [ ] TBC in-person study group / working session in London on 13 October
- [ ] TBD all patterns should follow a specific format (front matter), this will be built into the guides and templates
- [ ] TBD update the SME guide

## Discussions
- We shoul

[2022-09-20 13:47] holanita opened #52 "[Web] Does the website avoid tracking user behavior and collecting data unnecessarily"
**Describe the pattern you'd like to propose**
User tracking, user data collection, and targeting in advertisements are responsible for significant energy use in many digital products and services. This is primarily due to the large size of tracking and advertising scripts, the energy required to process and track user behavior, and databases collecting vast amounts of user data. Furthermore, this

[2022-09-20 14:03] dubrie commented on #51
attended

[2022-09-20 14:05] holanita opened #53 "[Cloud Engineer] Use software patterns and architectures that best support data access and storage patterns"
**Describe the pattern you'd like to propose**
Intent: Understand how data is used within your workload, consumed by your users, transferred, and stored. Select technologies to minimize data processing and storage requirements.

***
**Describe the pattern you'd like to propose**
This pattern involves monitoring and analysing your data access and storage access selecting technologies which minimise

[2022-09-20 14:06] dubrie opened #54 "[Web] Avoid chaining critical requests"
**Describe the pattern you'd like to propose**
[Critical request chains](https://developers.google.com/web/fundamentals/performance/critical-rendering-path) are series of dependent network requests important for page rendering. The greater the length of the chains and the larger the download sizes, the more significant the impact on page load performance.

**Describe specific emission impact from

[2022-09-20 14:09] dubrie opened #55 "[Web] Minimize main thread work"
**Describe the pattern you'd like to propose**
The browser's [renderer process](https://developer.chrome.com/blog/inside-browser-part3/) is what turns your code into a web page that your users can interact with. By default, the [main thread](https://developer.mozilla.org/docs/Glossary/Main_thread) of the renderer process typically handles most code: it parses the HTML and builds the DOM, parses th

[2022-09-20 14:09] holanita opened #56 "[Cloud Engineer] Optimize impact on customer devices and equipment"
**Describe the pattern you'd like to propose**
Intent: Understand the devices and equipment your customers use to consume your services, their expected lifecycle, and the financial and sustainability impact of replacing those components. Implement software patterns and architectures to minimize the need for customers to replace devices and upgrade equipment. For example, implement new features usi

[2022-09-20 14:10] dubrie opened #57 "[Web] Ensure text remains visible during webfont load"
**Describe the pattern you'd like to propose**
Fonts are often large files that take awhile to load. Some browsers hide text until the font loads, causing a [flash of invisible text (FOIT)](https://web.dev/avoid-invisible-text).

**Describe specific emission impact from this pattern**
Reduced energy consumption by reducing download size and increased page performance

**References to this pattern*

[2022-09-20 14:11] dubrie opened #58 "[Web] Keep request counts low and transfer sizes small"
**Describe the pattern you'd like to propose**
Requests for CSS and JavaScript files are render-blocking by default. In other words, browsers can't render content to the screen until all CSS and JavaScript requests are finished. If any of these files are hosted on a slow server, that single slow server can delay the entire rendering process. See [Optimize your JavaScript](https://web.dev/fast#opti

[2022-09-20 14:11] holanita opened #59 "[Cloud Engineer] Optimize areas of code that consume the most time or resources"
**Describe the pattern you'd like to propose**
Intent: Monitor workload activity to identify application components that consume the most resources. Optimize the code that runs within these components to minimize resource usage while maximizing performance.

***
**Describe the pattern you'd like to propose**
This pattern involves monitoring and analysing workload activity, identifying components t

[2022-09-20 14:12] dubrie opened #60 "[Web] Avoid an excessive DOM size"
**Describe the pattern you'd like to propose**
A large DOM tree can slow down your page performance in multiple ways:

Network efficiency and load performance

A large DOM tree often includes many nodes that aren't visible when the user first loads the page, which unnecessarily increases data costs for your users and slows down load time.

Runtime performance

As users and scripts interact with yo

[2022-09-20 14:15] holanita opened #61 "[Cloud Engineer] Remove or refactor workload components with low or no use"
**Describe the pattern you'd like to propose**
Intent: Monitor workload activity to identify changes in utilization of individual components over time. Remove components that are unused and no longer required, and refactor components with little utilization, to limit wasted resources.

***
**Describe the pattern you'd like to propose**
This pattern involves monitoring and analysing workload activi

[2022-09-20 14:15] dubrie opened #62 "[Web] Use video formats for animated content"
**Describe the pattern you'd like to propose**
Large GIFs are inefficient for delivering animated content. By converting large GIFs to videos, you can save big on users' bandwidth. Consider using MPEG4/WebM videos for animations and PNG/WebP for static images instead of GIF to save network bytes.

**Describe specific emission impact from this pattern**
Reduced energy consumption by reducing downlo

[2022-09-20 14:16] dubrie opened #63 "[Web] Preconnect to required origins"
**Describe the pattern you'd like to propose**
Consider adding preconnect or dns-prefetch resource hints to establish early connections to important third-party origins.

<link rel="preconnect"> informs the browser that your page intends to establish a connection to another origin, and that you'd like the process to start as soon as possible.

Establishing connections often involves significant ti

[2022-09-20 14:16] holanita opened #64 "[Cloud Engineer] Optimize software and architecture for asynchronous and scheduled jobs"
**Describe the pattern you'd like to propose**
Intent: Use efficient software designs and architectures to minimize the average resources required per unit of work. Implement mechanisms that result in even utilization of components to reduce resources that are idle between tasks and minimize the impact of load spikes.

***
**Describe the pattern you'd like to propose**
This pattern involves using

[2022-09-20 14:18] holanita opened #65 "[Cloud Engineer] Optimize geographic placement of workloads for user locations"
**Describe the pattern you'd like to propose**
Intent: Analyze network access patterns to identify where your customers are connecting from geographically. Select Regions and services that reduce the distance that network traffic must travel to decrease the total network resources required to support your workload.

***
**Describe the pattern you'd like to propose**
This pattern involves analysing

[2022-09-20 14:18] dubrie opened #66 "[Web] Enable text compression"
**Describe the pattern you'd like to propose**
When a browser requests a resource, it will use the [Accept-Encoding](https://developer.mozilla.org/docs/Web/HTTP/Headers/Accept-Encoding) HTTP request header to indicate what compression algorithms it supports.

Accept-Encoding: gzip, compress, br
If the browser supports [Brotli](https://opensource.googleblog.com/2015/09/introducing-brotli-new-compre

[2022-09-20 14:19] dubrie opened #67 "[Web] Serve Images in Modern Formats"
**Describe the pattern you'd like to propose**
AVIF and WebP are image formats that have superior compression and quality characteristics compared to their older JPEG and PNG counterparts. Encoding your images in these formats rather than JPEG or PNG means that they will load faster and consume less cellular data.

AVIF is supported in Chrome, Firefox, and Opera and offers smaller file sizes compa

[2022-09-20 14:19] holanita opened #68 "[Cloud Engineer] Eliminate creation and maintenance of unused assets"
**Describe the pattern you'd like to propose**
Intent: Analyze application assets (such as pre-compiled reports, data sets, and static images) and asset access patterns to identify redundancy, underutilization, and potential decommission targets. Consolidate generated assets with redundant content (for example, monthly reports with overlapping or common data sets and outputs) to eliminate the reso

[2022-09-20 14:20] dubrie opened #69 "[Web] Remove Unused CSS"
**Describe the pattern you'd like to propose**
Each external stylesheet must be downloaded from the network. These extra network trips can significantly increase the time that users must wait before they see any content on their screens.

Unused CSS also slows down a browser's construction of the [render tree](https://developers.google.com/web/fundamentals/performance/critical-rendering-path/rende

[2022-09-20 14:21] dubrie opened #70 "[Web] Minify JavaScript"
**Describe the pattern you'd like to propose**
Minifying JavaScript files can reduce payload sizes and script parse time. The Opportunities section of your Lighthouse report lists all unminified JavaScript files, along with the potential savings in [kibibytes (KiB)](https://en.wikipedia.org/wiki/Kibibyte) when these files are minified

**Describe specific emission impact from this pattern**
Reduce

[2022-09-20 14:22] holanita opened #71 "[Cloud Engineer] Scale infrastructure with user load"
**Describe the pattern you'd like to propose**
Intent: Identify periods of low or no utilization and scale resources to eliminate excess capacity and improve efficiency.

**Describe specific emission impact from this pattern**
eliminate excess capacity and improve efficiency

**References to this pattern**
https://docs.aws.amazon.com/wellarchitected/latest/sustainability-pillar/scale-infrastructur

[2022-09-20 14:22] dubrie opened #72 "[Web] Minify CSS"
**Describe the pattern you'd like to propose**
Minifying CSS files can improve your page load performance. CSS files are often larger than they need to be. For example:

/* Header background should match brand colors. */
h1 {
  background-color: #000000;
}
h2 {
  background-color: #000000;
}
Can be reduced to:

h1, h2 { background-color: #000000; }
From the perspective of the browser, these 2 code

[2022-09-20 14:23] dubrie opened #73 "[Web] Defer Offscreen Images"
**Describe the pattern you'd like to propose**
Lazy loading is the approach of waiting to load resources until they are needed, rather than loading them in advance. This can improve performance by reducing the amount of resources that need to be loaded and parsed on initial page load.

Images that are offscreen during the initial pageload are ideal candidates for this technique. Best of all, [lazy

[2022-09-20 14:23] holanita opened #74 "[Cloud-Engineer] Region Selection"
**Describe the pattern you'd like to propose**
"Choose Regions near Amazon renewable energy projects and Regions where the grid has a published carbon intensity that is lower than other locations (or Regions)."

****
**Describe the pattern you'd like to propose**
This pattern involves the selection of regions where workloads are implemented that are close to Amazon renewable energy projects and wh

[2022-09-20 14:24] dubrie opened #75 "[Web] Properly Size Images"
**Describe the pattern you'd like to propose**
Ideally, your page should never serve images that are larger than the version that's rendered on the user's screen. Anything larger than that just results in wasted bytes and slows down page load time.

The main strategy for serving appropriately sized images is called "responsive images". With responsive images, you generate multiple versions of each

[2022-09-20 14:34] camcash17 commented on #51
attended

[2022-09-20 14:35] holanita commented on #51
attended

[2022-09-20 18:01] akshitbatra commented on #51
Attended.

[2022-09-23 07:02] srini1978 opened #76 "Use Asynchronous Calls instead of sync when doing Network calls"
**Describe the pattern you'd like to propose**
A clear and concise description of what you think the pattern should be.

When making calls across process boundaries to either databases or file systems or REST APIs, use asynchronous calling patterns compared to synchronous calls. In C# this feature is available either through the async/await syntax or through Task Parallel Library

**Describe speci

[2022-09-26 16:03] banirazi opened #77 "reza_test_pattern"
**Pattern Description**
This is a test pattern created by Reza Razi, showing that he is familiar with the process.

**Emission Impact**
Reza will contribute as a Subject Matter Expert and will be assigned pull requests in this GitHub repo to review for the following areas of expertise:

- **Technical Domain:** Artificial Intelligence, Machine Learning, Optimization, Control, Robotics
- **Industry

[2022-09-27 11:57] holanita commented on #23
@dubrie (cleaning up/updating issues a little bit) in today's call let's review how far you got with this (SMEs) and whether we need to take any extra steps to make sure we hit the deadline

[2022-09-27 11:59] holanita commented on #24
this has been in progress for a while, latest updates to be discussed in today's call again

[2022-09-27 12:06] holanita opened #78 "2022 09 27 - Green Software Patterns Agenda & Minutes"
## Date
2022-09-27 - 1.30pm UTC

## Agenda
Last week we added several proposed patterns to issues. Contribution has been really low for a long time and we are not making sufficient progress on new patterns. We need to discuss what (else/more) we can do to hit the deadlines for COP.
- [x] Anita to provide updates on **editor** to work on pending issues / proposed patterns
- [x] Bill to provide upda

[2022-09-27 12:07] holanita commented on #78
@dubrie pls review and let me know if you'd like to add anything

[2022-09-27 13:27] markus-ntt-seidl commented on #72
As far as I can see this largely overlaps with https://github.com/Green-Software-Foundation/green-software-patterns/pull/79
Whereas the PR is more general (minify all assets).

[2022-09-27 13:28] holanita commented on #74
@dubrie @jawache editor's version added at the bottom

[2022-09-27 13:29] holanita commented on #71
@dubrie @jawache editor's version added at the bottom

[2022-09-27 14:50] holanita commented on #65
editor's version added at the bottom

[2022-09-27 16:05] holanita opened #80 "[Progress] Weekly Tracker"
Patterns as of 27 September

Web
- **0/30** published on the [website](https://patterns.greensoftware.foundation/catalog/web/)
- **1/30 TBD/TBC** open [PRs](https://github.com/Green-Software-Foundation/green-software-patterns/pulls)
- **15/30** proposed [issues](https://github.com/Green-Software-Foundation/green-software-patterns/issues?q=is%3Aopen+is%3Aissue+label%3AWEB)

Cloud
- **9/30** publish

[2022-09-28 05:39] navveenb commented on #78
Attended

[2022-09-28 19:59] dubrie commented on #78
attended

@holanita This looks good on my end. I'd like to better understand the timing and capabilities of the Upwork proposal as that could significantly speed things up on the patterns side.

[2022-09-29 19:19] holanita opened #81 "[PM] Hiring SMEs via Upwork"
@dubrie I suggest we test the Upwork hiring process with just one of the key categories first. How about AI as this is where we have least coverage?

If you can let me know briefly what type of skills/profile we are looking for here, I'm happy to do a quick search on Upwork to see what options we have. Usually hiring via Upwork is super fast so if we find the right person, we'll be able to hire th

[2022-09-29 19:20] holanita commented on #78
@dubrie sure, let's continue the discussion [in this issue](https://github.com/Green-Software-Foundation/green-software-patterns/issues/81) as I will close this agenda once I add the next one

[2022-09-29 19:20] holanita commented on #78
attended

[2022-09-30 12:07] holanita commented on #80
Weekly targets TBD in the next team meeting
We need roughly 16 patterns to be finalized each week (?) before COP.

Week of 26-Sep: 9/90 actual
Week of 3-Oct: 25/90 planned
Week of 10-Oct: 41/90 planned
Week of 17-Oct: 57/90 planned
Week of 24-Oct: 73/90 planned
Week of 31-Oct: 90/90 planned

[2022-09-30 12:20] holanita opened #83 "2022 10 04 - Green Software Patterns Agenda & Minutes"
## Date
2022-10-04 - 1.30pm UTC (meeting to be run by Sarah and/or Bill)

## Agenda
We agreed to start tracking our progress more closely. Currently, we have 9 published patterns and our goal is 90 by COP.
- [x] https://github.com/Green-Software-Foundation/green-software-patterns/issues/80
- [x] https://github.com/Green-Software-Foundation/green-software-patterns/issues/81
- [ ] https://github.com

[2022-09-30 12:20] #78 closed

[2022-09-30 15:58] Jan-Kuske opened #84 "Take advantage of datacenters free cooling"
**Describe the pattern you'd like to propose**
Shift execution time of batch data pipelines and machine learning models training pipelines to time between late evening to early morning to take advantage of datacenters free cooling.

**Describe specific emission impact from this pattern**
Typical data centers have two operation modes for cooling – regular one where compressors are assisting in pump

[2022-09-30 23:59] dubrie opened #85 "Repurposing Deployed Environments"
**Describe the pattern you'd like to propose**
Pulled from a comment in an open [pull request](https://github.com/Green-Software-Foundation/green-software-patterns/pull/26) by @ravikp:

I think the title of the proposed pattern is accurate for its content since the goal of that pattern is to reduce and minimize the environments that you deploy and use. However, I think the other two options propos

[2022-10-01 00:56] dubrie commented on #76
Thank you @srini1978 for opening this issue. I feel this would be a good pattern for the Web category and would have positive impact on energy efficiency. Can you create a new pattern following the updated Template at https://github.com/Green-Software-Foundation/green-software-patterns/blob/dev/TEMPLATE.md?

[2022-10-01 01:00] dubrie commented on #77
Hi @banirazi, thanks for creating this! Do you have an example green software pattern you'd like to contribute for the catalog? There are only a few in place now so a lot of opportunity is there. You can create one as a new issue if you have a rough idea (example: https://github.com/Green-Software-Foundation/green-software-patterns/issues/76) or go ahead and use the provided [Template](https://git

[2022-10-01 02:08] banirazi commented on #77
Hi @dubrie - Does the pattern have to be about software development tools and processes only or the green application of software is acceptable as well? For example, consider using software in the form of AI to maximize renewable energy consumption in the power grid. Could this be considered as a green software pattern?

[2022-10-01 02:39] dubrie commented on #77
The Green Software Patterns are focused on software patterns reviewed and curated by the Green Software Foundation that apply to software practitioners, specifically how they can apply the Green Software Principles. The application of Green Software, like the leveraging AI to maximize renewable energy in a power grid, is not part of the scope covered in this project.

[2022-10-03 05:59] holanita commented on #64
edited version has been added, issue updated

[2022-10-03 06:00] holanita commented on #61
edited version has been added, issue updated

[2022-10-03 06:02] holanita commented on #59
edited version has been added, issue updated

[2022-10-03 06:03] holanita commented on #56
edited version has been added, issue updated

[2022-10-03 06:04] holanita commented on #53
edited version has been added, issue updated

[2022-10-03 06:09] holanita opened #87 "[PM] Updates on working with SMEs"
- new applications are added to the google spreadsheet each week
- progress to be discussed in the weekly meetings
- VMware has joined the weekly calls, next steps to be discussed
- AI?
- WEB?

[2022-10-03 12:07] Jan-Kuske commented on #84
H Bill, I'm not sure about low-cost data centers, but for enterprise ones like ones run by Google, Microsoft or Equinix it is very common feature since is rather easy to implement in data centers with central colling system (it is most common design in modern data centers due to better cooling efficacy and reliability). Since it is weather depended, you can't know 100% that free cooling will be us

[2022-10-04 07:57] markus-ntt-seidl commented on #67
I'm converting this into a PR

[2022-10-04 08:58] markus-ntt-seidl commented on #66
Converting this to PR

[2022-10-04 14:12] greenhsu123 commented on #64
I will pick this up!

[2022-10-04 14:14] dubrie commented on #83
attended

[2022-10-04 14:15] jawache commented on #83
Attended

[2022-10-04 14:15] navveenb commented on #83
Attended

[2022-10-04 14:15] aoifefitton commented on #83
attended

[2022-10-04 14:15] akshitbatra commented on #83
Attended.

[2022-10-04 14:16] tmcclell commented on #83
Attended

[2022-10-04 14:16] greenhsu123 commented on #83
Attended.

[2022-10-04 14:20] jawache commented on #80
Updated the numbers above with the latest.

We are currently hitting targets for this week.

The biggest gap is converting issues to PRs.

The other is, as we proceed we need to assign to SMEs.

[2022-10-04 14:22] jawache commented on #81
@dubrie will provide a paragraph or two by Thursday.

[2022-10-04 14:26] jawache commented on #83
@akshitbatra suggested submitting hacktoberfest tickets, @dubrie to think about it.

[2022-10-05 05:25] markus-ntt-seidl commented on #57
I would argue that this is not a pattern that reduces SCI in any way. Sounds to me more like a quality-of-life thing.
The font will be downloaded anyway. With displaying the text twice (one time without the custom font and one time with the font) it's actually increasing SCI as it's rendered twice.

Or is it about reducing the font size so the font downloads faster?
Or additional patters: Consider

[2022-10-05 05:32] markus-ntt-seidl commented on #63
My understanding of this is, that you add a hint in HTML that you want to connect to a IP in the future. The browser should prepare itself and maybe already establish a connection. In the end the connection establish would be done before the browser is instructed to connect, hence the pre-connect.

I fail to see how this improves SCI as the preconnect might be done in vain, when the resource is no

[2022-10-05 05:43] markus-ntt-seidl commented on #70
I would propose to close this in favour of #79

[2022-10-05 05:43] markus-ntt-seidl commented on #72
I would propose to close this in favour of #79

[2022-10-05 10:45] jawache opened #93 "Fixing the Tags Page issue"
Hey @dubrie I think i know what's happened with the tags page.

https://patterns.greensoftware.foundation/tags/ is an autogenerated page by docusaurus which must overwrite the tags folder you created here https://github.com/Green-Software-Foundation/green-software-patterns/tree/dev/docs/tags/

There is probably something @osamajandali can do to fix but the simplest solution might now might just be

[2022-10-05 15:30] dubrie opened #94 "Fix SCI link in existing Patterns"
The SCI link in the Template was changed from `https://github.com/Green-Software-Foundation/software_carbon_intensity` to `https://grnsft.org/sci` in PR https://github.com/Green-Software-Foundation/green-software-patterns/pull/92. This link needs to also be updated in the existing catalog of patterns to be consistent.

[2022-10-05 16:19] banirazi commented on #77
In that case, I'm afraid I do not have any pattern in mind to add here.

[2022-10-06 02:59] dubrie commented on #77
No worries, if you see any inspiration in other Pattern examples or come across something that would work feel free to open another Issue or Pull Request.

[2022-10-06 02:59] #77 closed

[2022-10-06 04:43] markus-ntt-seidl commented on #62
I'm taking over this.

[2022-10-06 04:57] markus-ntt-seidl commented on #62
I would rephrase this, as the title is not true IMHO.
True, you could use Video for animations, but there are CSS (+JS), SVG and stuff to also animate content. Vector animation is sharper for less bandwidth and maybe more efficient, depending on the content.
So I'm going to rephrase this as "Deprecate GIFs for animated content".

Funny side note: "Back in the days" 😄 , between gifs and videos, whe

[2022-10-07 15:47] danielvaughan opened #96 "Automatically scale-down non-production Kubernetes clusters when not in use"
**Describe the pattern you'd like to propose**
One of the great features of the cloud is to be able to spin up and shutdown infrastructure on demand only paying for the time it is running. However, infrastructure is often running 24/7 unnecessarily consuming energy and racking up costs.
This is particularly true for Kubernetes clusters that are comprise of multiple virtual machines and typically c

[2022-10-08 02:01] #93 closed

[2022-10-08 02:18] dubrie commented on #81
How about this for the recruiting pitch:

I haven't used Upwork before but based on some quick searches of existing posts this should be good. Please suggest any updates or thoughts you have!

[2022-10-08 02:36] dubrie commented on #52
Converted this pattern to a pull request: https://github.com/Green-Software-Foundation/green-software-patterns/pull/97

[2022-10-08 23:43] dubrie opened #98 "Modifying Generated Tags Pages"
Hey @osamajandali, I'm wondering if it's possible to manually modify the generated tags pages in any way. Specifically, I like the automated list of patterns within a tag (example: [https://patterns.greensoftware.foundation/tags/compute](https://patterns.greensoftware.foundation/tags/compute)) but would like to include the SME's for each tag on the page as well (example: [https://patterns.greensof

[2022-10-09 19:59] greenhsu123 commented on #64
first PR for this issue- https://github.com/Green-Software-Foundation/green-software-patterns/pull/99

[2022-10-10 18:21] holanita commented on #81
Is this for all 3 areas (AI, web, cloud) or just for some of them? I think we should specify the exact areas and the skills we are looking for so it's easier for people to see whether they are a good fit and also for us to search for matching profiles.

[2022-10-10 18:24] holanita commented on #87
We have now reached out to all the SMEs who have applied via the google form. We might add a Q&A if needed.

[2022-10-10 18:31] holanita opened #101 "2022 10 11 - Green Software Patterns Agenda & Minutes"
## Date
2022-10-11 - 1.30pm UTC (meeting to be run by Asim and/or Bill)

## Agenda
Notes form the previous meeting
- [x] Akshit suggested submitting hacktoberfest tickets, Bill to think about it
- [x] Asim: [another list of patterns](https://www.bjss.com/engineering-insights/the-bjss-guide-to-green-software-development) was published

Updates
- [x] https://github.com/Green-Software-Foundation/gree

[2022-10-10 18:31] #83 closed

[2022-10-10 19:33] jawache commented on #81
Yes agreed, Upwork can be a bit hit and miss but listing exact skills would be a good step.

I think perhaps we focus on people with the technical skills since from experience finding someone with both the tech and writing skills is very hard on upwork.

So Machine Learning Engineer with a focus on performance?

[2022-10-11 06:08] markus-ntt-seidl commented on #60
I'll take this over

[2022-10-11 10:43] srini1978 opened #103 "Cache Static Data pattern -Need to add one more consideration to this pattern"
**Describe the bug**
The consideration should also include the statement that the pattern is know to show improvement in E and M only if local cache is used. If any external cache infrastructure is leveraged, then SCI score may not reduce considerably.

Consideration
1. It is assumed that local in Memory cache of the server is used to implement this pattern. If any external cache infrastructure is

[2022-10-11 10:47] srini1978 commented on #103
Created a pull request for this change #104

[2022-10-11 13:37] tmcclell commented on #101
Attended

[2022-10-11 13:40] jawache commented on #101
Attended

[2022-10-11 13:43] dubrie commented on #101
attended

[2022-10-11 13:46] navveenb commented on #101
attended

[2022-10-11 13:48] jawache commented on #101
AOB - @tmcclell - Wanted to discuss where to put programming language patters.
@navveenb suggested adding them to "design patterns"

[2022-10-11 13:49] jawache commented on #80
As of 11th we have 10 live and 12 pull requests with at least one pattern each.

[2022-10-11 13:55] jawache commented on #81
In meeting @dubrie

For Web, take the existing patterns from the internet and turn it into our patterns.

For Cloud, take the existing patterns from the internet and turn it into our patterns.

AI/ML is going to be challenging to find someone on Upwork so we'll leave this.

[2022-10-11 14:05] jawache opened #105 "Add a button on the top to "add a pattern""
Pointing to https://patterns.greensoftware.foundation/guide/#how-to-propose-a-new-pattern-or-a-change-to-a-pattern

[2022-10-11 14:08] jawache commented on #101
@jawache to show people how the versioning works in docusaurus.

@dubrie suggested next weeks meeting to focus on how to get the flywheel/process working for getting issues -> PR > website. The push.

[2022-10-12 05:35] navveenb commented on #72
I will create a new pull request as I moved web patterns from #79.

[2022-10-12 18:00] dubrie opened #108 "Create new patterns from the Azure Well-Architected Framework Sustainability Pillar"
**Describe the pattern you'd like to propose**
Azure just released their well architected framework for sustainability with a lot of good options for green software patterns. The guidance all connects back to the green software foundation and the green software principles so there is already a lot of good alignment.

**Describe specific emission impact from this pattern**
Various, depending on the

[2022-10-13 02:59] dubrie commented on #96
This is great @danielvaughan and would align to green software patterns we are looking for. Do you want to create a pattern based on the [Template](https://github.com/Green-Software-Foundation/green-software-patterns/blob/dev/TEMPLATE.md) in the repo? You can find more specifics in the [Guide Section](https://patterns.greensoftware.foundation/guide/#how-to-submit-a-new-pattern-or-a-change-to-a-pat

[2022-10-13 04:25] markus-ntt-seidl commented on #75
I'll convert this

[2022-10-13 15:25] dubrie commented on #54
Pattern has been approved and merged

[2022-10-14 11:57] navveenb commented on #101
Attended

[2022-10-14 12:03] holanita commented on #81
Noted. Draft job posting added to Upwork. Asked Steph to review. We will publish them soon.

[2022-10-14 14:11] jawache opened #113 "Customize tagged view in patterns website"
Customize the tagged page view:

- Instead of description show some more meaningful text.
- Ideally show some more information, tags.

![Image](https://user-images.githubusercontent.com/897523/195867540-e14f1a0b-acf2-4842-b17e-e270e7d660a7.png)

[2022-10-14 15:53] dubrie commented on #75
Pattern merged

[2022-10-14 15:53] #75 closed

[2022-10-14 16:05] #60 closed

[2022-10-14 16:05] #67 closed

[2022-10-14 20:49] jawache commented on #81
Can you share the draft with me? (Or is it draft on Upwork so I can see it there?)

[2022-10-17 04:29] markus-ntt-seidl commented on #73
Taking this over

[2022-10-17 10:40] holanita commented on #81
It's all on Upwork. We have 4 candidates for web atm.

[2022-10-17 21:30] #73 closed

[2022-10-17 21:37] #62 closed

[2022-10-17 21:42] #64 closed

[2022-10-17 22:19] #94 closed

[2022-10-17 22:20] #103 closed

[2022-10-17 22:22] dubrie commented on #96
Hi @danielvaughan -- It seems that this proposed pattern is covered by pull request https://github.com/Green-Software-Foundation/green-software-patterns/pull/18/files#diff-1b22d201cb4feab7b796bf4cf549e5fbfbe2c09ffad3830eab51d7f7b09874bf

Do you want to add more detail to that pull request or does it cover your proposal?

[2022-10-17 22:27] dubrie commented on #84
That makes sense, Jan, thanks! It seems like there is not a data feed that software applications can take advantage of like they can with carbon intensity values via WattTime or ElectricityMaps. Without that signal, I'm not sure how this can be connected to software. This would be a great pattern or practice for data center ops teams to adopt though, it seems like it would have a significant impac

[2022-10-17 22:27] #84 closed

[2022-10-17 22:55] jawache commented on #81
Cheers will check them out

[2022-10-17 22:57] jawache commented on #81
@holanita to clarify, I'm not needed to pick/approve people, totally happy for you and @dubrie to select ☺️

[2022-10-18 03:56] #85 closed

[2022-10-18 04:32] markus-ntt-seidl commented on #69
Here we go: Taking this over.

[2022-10-18 10:05] holanita commented on #80
As of 18th we have 21 live patterns and 8 open PRs.

[2022-10-18 10:09] holanita commented on #81
@jawache I can't select as I don't have the knowledge. Can we invite Bill to Upwork so he can discuss the details with the candidates?

[2022-10-18 10:09] holanita commented on #87
No new applications received since last time.

[2022-10-18 10:16] holanita opened #119 "[PM] Pattern ideas edited by the technical writer"
I'm opening this new issue as this task has been pending for a long time and I can't see any comments in recent meeting agendas. [These](https://github.com/Green-Software-Foundation/green-software-patterns/issues?q=is%3Aopen+is%3Aissue+author%3Aholanita+label%3A%22Proposed+Pattern%22) are the ideas that were originally added by Asim to the GH discussions (I have created issues for each and labeled

[2022-10-18 10:20] holanita opened #120 "2022 10 18 - Green Software Patterns Agenda & Minutes"
## Date
2022-10-18 - 1.30pm UTC (meeting to be run by Asim and/or Bill)

## Agenda
Notes from the last meeting
- [ ] #121
- [x] @jawache to show people how the versioning works in docusaurus
- [x] https://github.com/Green-Software-Foundation/green-software-patterns/issues/91

Notes form earlier meetings – @jawache are these actionable or should we remove them from the agenda?
- [x] Akshit suggeste

[2022-10-18 10:38] holanita commented on #98
Hey @dubrie is this sill relevant? Let me know so I can close this or assign Osama accordingly.

[2022-10-18 10:39] #101 closed

[2022-10-18 13:20] #43 closed

[2022-10-18 13:22] #52 closed

[2022-10-18 13:24] #42 closed

[2022-10-18 13:57] dubrie opened #121 "@dubrie suggested to focus on how to get the flywheel/process working for getting issues -> PR > website. The push."

[2022-10-18 14:31] danielvaughan commented on #96
Hi @dubrie this looks a bit different. I was proposing scaling down or turning off non-production clusters when not in use. The pull request looks more about scaling down non-critical workloads.

[2022-10-18 14:37] danielvaughan commented on #96
HI @dubrie to be honest, I am struggling a bit with the instructions and the template especially how to apply the SCI. It would be great if the submission guide had a bit more information and maybe some examples.

[2022-10-18 15:44] camcash17 commented on #120
Attended

[2022-10-19 04:39] markus-ntt-seidl commented on #58
Taking over

[2022-10-19 05:07] markus-ntt-seidl opened #122 "Specify Pattern Reading Persona(s)"
**Is your feature request related to a problem? Please describe.**
When writing patterns I struggle to find the right level of knowledge the average reader will have. I also saw reviews that specify to describe various levels of knowledge I would assume the reader should have.

**Describe the solution you'd like**
Describe what the reader should know, for example
* For Cloud the reader should have

[2022-10-19 05:33] markus-ntt-seidl opened #123 "Include pictures in patterns"
**Is your feature request related to a problem? Please describe.**
When writing about request structures or dynamics (in web) and also for cloud (architecture diagrams?) it would be best to have some sequence diagrams for easier understanding.

[2022-10-19 09:24] holanita opened #124 "Social Media activity re: Microsoft's Well Architects Framework"
Why: Microsoft announced their Well Architects Framework that links back to the principles and patterns work we created.
What: Namrata suggested we do some social media activity around this to link back to it.

Next steps:
- [x] Connect Namrata with Bill to discuss the details
- [ ] Decide the type of activity (live stream / live discussion on youtube, etc?)
- [ ] Choose participants (Asim and som

[2022-10-19 09:28] holanita commented on #124
@dubrie not sure if you have met @NAMRATA-WOKE before. Asim suggested I connect the two of you so you guys can explore the above mentioned idea.

[2022-10-19 11:29] holanita commented on #124
to be continued via email

[2022-10-19 11:29] #124 closed

[2022-10-19 13:36] Leamsi9 opened #126 "Integrating the main pattern repositories for Web"
**Is your feature request related to a problem? Please describe.**
Ensuring we are building fully on existing work and the wider state of the art
**Describe the solution you'd like**
Integrate the following links, which add up to c.200 patterns:

https://sustainablewebdesign.org/

https://github.com/cnumr/best-practices

https://gr491.isit-europe.org/en/

https://almanac.httparchive.org/en/2022/su

[2022-10-19 14:39] Leamsi9 opened #127 "Integrate Energy Efficient Machine Learning patterns from academia into AI section"
**Is your feature request related to a problem? Please describe.**
There is an absence of green AI patterns on the general web

**Describe the solution you'd like**
Most patterns in this area reside in the academic literature, around terms like "energy efficient machine learning" or "green ai". There is also a substantial literature on "energy efficient algorithms" particularly in the IoT and netw

[2022-10-21 04:59] markus-ntt-seidl commented on #96
From my POV the pattern that @dubrie referenced and this one are largely overlapping in the resulting technique.
I also think that the pattern of https://github.com/Green-Software-Foundation/green-software-patterns/pull/18/files#diff-1b22d201cb4feab7b796bf4cf549e5fbfbe2c09ffad3830eab51d7f7b09874bf could be worded better, for example by removing the "=>" and converting it to a full sentence.

My su

[2022-10-21 05:01] markus-ntt-seidl commented on #74
I assume this can be converted into a PR?
I'll do it and you let me know if this was not allowed :)

[2022-10-21 10:32] markus-ntt-seidl commented on #65
It seems this was already done: https://github.com/Green-Software-Foundation/green-software-patterns/blob/dev/docs/catalog/cloud/choose-region-closest-to-users.md

[2022-10-21 11:32] zanete commented on #113
Can I clarify what this is about?
- (1) Assuming that instead of the word "Description" under each result here https://patterns.greensoftware.foundation/tags/ it should show the actual description of the resulting doc, e.g. "If service downtimes are acceptable it's better to not strive for highest availability but to design the solution according to real business needs. Lower availability guarante

[2022-10-21 12:40] zanete commented on #113
(1) @osamajandali to investigate and see what can be done, but hasn't started yet. If the above is not possible will re-discuss

[2022-10-21 14:25] franziska-nttdata-hesselfeld commented on #71
Convert this to a PR

[2022-10-23 10:26] srini1978 opened #129 "Use serverless cloud services for running workloads"
**Describe the pattern you'd like to propose**
Serverless cloud services present an option to run workloads wherein a separate machine need not be provisioned in the cloud .

**Describe specific emission impact from this pattern**
Serverless architectures are meant not to provision cloud servers exclusively for a specific workload or customer, but rather to use them when they are needed and then d

[2022-10-23 11:29] srini1978 commented on #76
@dubrie  Created this PR -   https://github.com/Green-Software-Foundation/green-software-patterns/pull/130 however I think it is showing 199 commits which I know is not right. Can u help?

[2022-10-23 11:35] srini1978 commented on #76
@dubrie  I am unable to fork and create a PR. Is that because of access permissions ? Should i only be opening a issue ?

[2022-10-23 17:42] #70 closed

[2022-10-23 17:43] #72 closed

[2022-10-24 04:26] markus-seidl commented on #71
@franziska-nttdata-hesselfeld You'll have to fork the repository and create a branch there. From there you can create a PR against the upstream repository. HTH

[2022-10-24 04:35] markus-seidl commented on #76
@srini1978 I've just checked and could fork the repo without any issues on my private account - no permissions needed.

[2022-10-24 06:26] franziska-nttdata-hesselfeld commented on #71
Oh ok, than i will do it that way, thanks @markus-seidl for the hint!

[2022-10-24 08:08] holanita commented on #80
As of 24th we have 27 live patterns and 5 open PRs.

[2022-10-24 08:12] holanita commented on #105
@jawache I wasn't involved in the discussion so not sure on which page this would be added? do you have an ETA for this?

[2022-10-24 08:15] holanita commented on #121
@dubrie do you need support or is this something you are working on yourself?

[2022-10-24 08:16] holanita opened #131 "2022 10 25 - Green Software Patterns Agenda & Minutes"
## Date
2022-10-25 - 1.30pm UTC

## Next steps before COP discussed and confirmed
- team to publish each finalized pattern **by 1 Nov**
- editor to do a final review **by 4 Nov**
- team to process editor's PRs if any **on 7-8 Nov**
- announce code freeze once each edit has been processed

## PM issues discussed
- [x] https://github.com/Green-Software-Foundation/green-software-patterns/issues/80 -

[2022-10-24 08:17] holanita commented on #120
List of attendees updated based on comments on the other agenda. O'Reilly book will be addressed in Community WG thread. Open items rolled forward to [next agenda](https://github.com/Green-Software-Foundation/green-software-patterns/issues/131).

[2022-10-24 08:17] #120 closed

[2022-10-24 08:27] holanita commented on #80
The progress related to issues (proposed patterns) can be tracked in this new milestone:
https://github.com/Green-Software-Foundation/green-software-patterns/milestone/6
Current completion rate is 45%

[2022-10-24 08:39] #57 closed

[2022-10-24 08:40] #69 closed

[2022-10-24 09:50] dubrie commented on #98
No, this can be closed for now.  Going forward it would be nice to have these views more integrated but we can use separate pages for now.

[2022-10-24 09:51] dubrie commented on #121
I am working on this. We addressed it at last weeks meeting and it seems the volume and speed has increased since that discussion. Will continue to monitor through the COP event.

[2022-10-24 12:34] aoifefitton opened #132 "Using Complied Languages rather than Interpreted Languages"
**Describe the pattern you'd like to propose**
Compiled languages “tend to be” the most energy-efficient - see paper linked in reference section.

Actions:
	- Use a language as close to the machine as possible, example: c, cpp rather than python.
        - Revise scripts/programs to replace e.g. python with e.g. cpp.

**Describe specific emission impact from this pattern**
Regarding SCI = ((E *I)

[2022-10-25 10:11] holanita opened #133 "Use sentence case in pattern titles"
As pointed out by @catherinemaughan we should be using sentence case for all the issue titles.
Currently, some use title case while some use sentence case.

@catherinemaughan can you fix these inconsistencies in the published patterns now that you started reviewing them?
@dubrie pls incorporate this into the review process and the guide so we avoid this moving forward

[2022-10-25 10:14] holanita opened #134 "Display the SCI equation consistently in patterns"
As pointed out by @catherinemaughan we should use the same formatting for the SCI equation in all patterns.
Currently, in some patterns it is displayed as simple text and in some the elements of the equation are formatted.

@catherinemaughan can you fix these inconsistencies in the published patterns? let's use the version you suggested
@dubrie pls incorporate this into the review process and the

[2022-10-25 10:19] holanita commented on #24
let me close this. we are adding tasks/issues one by one as needed.

[2022-10-25 10:19] #24 closed

[2022-10-25 11:38] dubrie commented on #134
Fixed! Will also make updates to all the active pull requests so that we don't introduce any new issues

[2022-10-25 11:38] #134 closed

[2022-10-25 11:38] dubrie commented on #133
Fixed! Will also make changes to any active pull requests with this issue so we don't unintentionally introduce more differences.

[2022-10-25 11:38] #133 closed

[2022-10-25 13:59] holanita commented on #23
We have experts for each except Gaming and VR. We should have a lead for cloud / web / AI.

[2022-10-25 14:17] holanita commented on #119
Discussed in today's call. Anyone is welcome to pick up any of these and turn them into PRs.

[2022-10-25 14:20] holanita commented on #105
Looks like this has been added to Osama's board already. See [here](https://github.com/Green-Software-Foundation/ops-content/issues/8).

[2022-10-25 14:35] navveenb commented on #131
attended

[2022-10-25 14:51] holanita commented on #127
Discussed in today's meeting. We'll proceed after COP. This could be a potential task for Upwork people.

[2022-10-25 14:51] holanita commented on #126
Discussed in today's meeting. We'll proceed after COP. This could be a potential task for Upwork people.

[2022-10-25 14:53] holanita commented on #123
As discussed in today's call, you are free to add images. Just remember to reference the source.
We can ask our designer to re-design them to match the GSF brand guidelines.
Also, we can ask her to create new images / diagrams if you have specific instructions for her.

[2022-10-25 14:54] holanita commented on #122
As discussed in today's call, we will re-visit this once we have more patterns in the catalog and so we have a better understanding of the prerequisites that they require.

[2022-10-25 14:56] holanita commented on #87
@dubrie let's use this issue to remind us to revisit the SME question after cop. By then you/we should have a better understanding of which SMEs are working on what and who could take a lead on each category from the end of November.

[2022-10-25 18:53] akshitbatra commented on #131
Attended.

[2022-10-25 19:46] jawache commented on #81
Ahh sorry, yes let's revisit post COP

[2022-10-26 04:35] markus-ntt-seidl commented on #59
I'll going to take this over.

[2022-10-26 05:08] markus-ntt-seidl commented on #53
I'm converting these

[2022-10-26 05:42] markus-ntt-seidl commented on #56
I'm taking over.

[2022-10-26 08:25] holanita commented on #131
attended

[2022-10-26 08:56] dubrie commented on #123
Here is an example pattern that uses an image in its body. Note that the URL path for the image is slightly different than the path in the markdown: https://patterns.greensoftware.foundation/catalog/cloud/time-shift-kubernetes-cron-jobs

[2022-10-27 04:56] markus-ntt-seidl commented on #61
I'll do it.

[2022-10-27 05:21] markus-ntt-seidl commented on #55
Uff, tough one. This is manly a performance pattern. I think an argument can be made, that 2 CPUs running are more efficient than one CPU running longer?
I'll try.

[2022-10-28 04:10] markus-ntt-seidl commented on #129
I'll convert this

[2022-10-28 04:52] markus-ntt-seidl commented on #132
I'll convert this, but I'm torn. This topic is very complex and I think we should touch it very carefully. Maybe the best option is to have a project that does actively benchmark this. The greenlab link seems to provide a GSF compatible source, but the last work done is from many years ago.

@dubrie Is there a category for this? I would throw it into cloud, but maybe there could be a more general

[2022-10-30 22:30] dubrie commented on #132
@markus-ntt-seidl I think cloud is OK as a category for now (can re-sort as more patterns get filed) but we do have a tag for programming-language already so let's make sure that tag is in there.

[2022-10-30 22:35] dubrie commented on #123
Closing this issue as there is a resolution and example for images to be included in patterns.

[2022-10-30 22:35] #123 closed

[2022-10-30 22:38] dubrie commented on #108
I believe @yelghali was going to ingest at least some of these patterns

[2022-10-30 22:40] #65 closed

[2022-10-30 22:42] dubrie commented on #119
All patterns referenced here have been converted into PRs and are actively being reviewed

[2022-10-30 22:48] dubrie commented on #63
I agree with you @markus-ntt-seidl, this was added in during a bulk ingestion of issues from a website and after re-looking at it now it doesn't have much relevance to the SCI. I'll close this issue but if others disagree feel free to reopen.

[2022-10-30 22:48] #63 closed

[2022-10-31 08:52] srini1978 commented on #76
@markus-seidl  How do I add the changes I have made into my dev branch ?

https://github.com/Green-Software-Foundation/green-software-patterns-dev/blob/3082514aefa56b1688775e603bdc0532320f390f/docs/catalog/web/Use%20async%20network%20calls.md

[2022-10-31 08:57] markus-seidl commented on #76
It seems that you have write rights in this repository/organization - @dubrie @jawache Intended?

If you compare the branches like this : https://github.com/Green-Software-Foundation/green-software-patterns/compare/dev...Green-Software-Foundation:green-software-patterns-dev:dev you'll get a button to "Create Pull Request". Make sure that you select the original green-software-patterns repository a

[2022-10-31 14:14] zanete commented on #113
There is a risk that this might not be done before COP, to be confirmed next week

[2022-10-31 23:32] dubrie commented on #76
Hey @srini1978, I created a branch off of this issue for you that is based on the dev branch for the patterns repo. Are you able to run these commands from a cloned green-software-patterns repo?

`git fetch origin`
`git checkout 76b-use-asynchronous-calls-instead-of-sync-when-doing-network-calls`

[2022-11-01 08:36] holanita commented on #80
As of Nov 1, we have 40 live patterns and 21 open PRs.
Completion rate of [pending issues](https://github.com/Green-Software-Foundation/green-software-patterns/milestone/6) it 57%.

[2022-11-01 08:46] holanita opened #161 "2022 11 01 - Green Software Patterns Agenda & Minutes"
## Date
2022-11-01 - 1.30pm UTC

## Next steps before COP as discussed and confirmed last time
- [code freeze] team to publish finalized pattern **by 1 Nov EOD PT**
- editor to do a final review **by 4 Nov**
- team to process editor's PRs if any **on 7-8 Nov**

## PM / Progress
- https://github.com/Green-Software-Foundation/green-software-patterns/issues/80 - 40 live patterns, 21 open PRs, issues

[2022-11-01 08:47] holanita commented on #131
To be continued in the new weekly agenda: https://github.com/Green-Software-Foundation/green-software-patterns/issues/161

[2022-11-01 08:47] #131 closed

[2022-11-01 09:44] navveenb commented on #23
@holanita @dubrie, For AI,  happy to lead it.

[2022-11-01 09:48] holanita commented on #87
@dubrie just to let you know Navveen completed the google form in the past week. you can review his responses in the file.

[2022-11-01 15:00] holanita commented on #161
check docusaurus questions with Osama (main vs. dev)

[2022-11-01 15:16] dubrie commented on #161
attended

[2022-11-01 15:20] holanita opened #163 "[Docusaurus] Code freeze for the patterns project"
Hi @osamajandali a question came up in today's team call about Docusaurus. We will announce code freeze in the patterns repo at the end of the day today (PT time). @dubrie explained to me that Docusaurus is currently reading from the dev branch. He was going to merge dev to main and then announce the code freeze. So he was wondering if and how this would affect docusaurus.

@osamajandali can you h

[2022-11-01 16:17] aoifefitton opened #164 ""Right-sizing" Kubernetes Instances"
**Describe the pattern you'd like to propose**
(Similar to Matching Utilization Requirements of VMs)

Right-size Kubernetes Clusters/Instances by altering the quantity of resources (e.g. memory) allocated to each Cluster/Instance to match its operation requirements.

**Describe specific emission impact from this pattern**
Regarding SCI = ((E *I) * M) per R, both E and M will decline were oversized

[2022-11-01 17:53] aoifefitton opened #165 "Removing Zombie Resources for VMs and Kubernetes Instances"
**Describe the pattern you'd like to propose**
(Similar to Deleting Unused Storage Resources)

Zombies - long forgotten resources that are no longer doing useful work.

Scan for and remove any unused snoozing  or "Zombie" VM resources or cluster instances.

**Describe specific emission impact from this pattern**
Regarding SCI = ((E *I) * M) per R, both E and M will decline were this solution to be

[2022-11-02 04:54] osamajandali commented on #163
We only need to change the deploy github action to be reading from the main branch not the dev branch. I can do it once the merge is done.

[2022-11-02 07:57] holanita commented on #163
Great thanks! @dubrie let us know when the merge is done and you are ready.

[2022-11-02 08:50] holanita commented on #161
attended

[2022-11-02 14:46] dubrie commented on #163
Dev has been merged into main, you can change the github action now.  Thanks @osamajandali and @holanita!

[2022-11-02 16:42] #119 closed

[2022-11-06 19:46] osamajandali commented on #113
So the solution turns out to be very simple 😄
You need only to add a description in frontmatter of each page file.
here is an example
https://github.com/Green-Software-Foundation/green-software-patterns/blob/main/docs/catalog/ai/serverless-model-development.md?plain=1#L6
so once all the pages are updated with this frontmatter, this issue will be fixed

[2022-11-07 07:43] holanita commented on #163
@zanete @osamajandali please discuss in today's call and if this is just something minor, pls complete asap. thanks!

[2022-11-07 07:46] holanita commented on #113
@osamajandali thanks that's good news I guess. can you do this before cop? cc'ing @zanete so she is aware

[2022-11-07 07:47] holanita commented on #105
Still TBD whether this can be done for COP. Progress can be tracked in the ticket referenced above.

[2022-11-07 09:37] holanita opened #168 "Finalize edits before COP"
@dubrie this is a summary on final edits and todos before COP

- [x] Please review this [pull request](https://github.com/Green-Software-Foundation/green-software-patterns/pull/167) that includes all the suggested changes related to grammar and formatting.
- [x] Review [this document](https://docs.google.com/document/d/1YdM7omg_KcUucgTt3UgQNEHHI7IJXhUSISlIctACGpQ/edit?usp=sharing) as well. This co

[2022-11-07 11:26] zanete commented on #113
@osamajandali can you clarify that this is something you will do or you provided an example for @holanita so that she (or someone else in the team) can do it?

[2022-11-07 12:20] jawache commented on #113
@holanita so I think the ask her is for Bill or someone from the patterns team to go through all the existing patters and add a short description at the top like @osamajandali showed how in here: https://github.com/Green-Software-Foundation/green-software-patterns/blob/main/docs/catalog/ai/serverless-model-development.md?plain=1#L6

@osamajandali can't do this, only the people who know the pattern

[2022-11-07 12:27] holanita commented on #113
@dubrie @greenhsu123 do you have capacity to add a short description to each pattern as described above? alternatively, if you could list the ones you can take care of, we could ask the team tomorrow to handle the rest.

[2022-11-07 12:44] osamajandali commented on #163
This one is done

[2022-11-07 12:54] holanita commented on #105
Fixed and closed

[2022-11-07 12:54] #105 closed

[2022-11-07 12:58] holanita commented on #163
Wonderful thanks a lot @osamajandali let me double check something with @dubrie by tomorrow before we close this

[2022-11-07 13:16] greenhsu123 commented on #113
Sure, I can do the cloud ones.

[2022-11-07 19:39] #161 closed

[2022-11-07 19:39] holanita opened #169 "2022 11 08 - Green Software Patterns Agenda & Minutes"
## Date
2022-11-08 - 1.30pm UTC

## Next steps before COP
- review final edits: https://github.com/Green-Software-Foundation/green-software-patterns/issues/168
- help needed: https://github.com/Green-Software-Foundation/green-software-patterns/issues/113
- remove banner: https://github.com/Green-Software-Foundation/ops-admin/issues/76#issuecomment-1305856329
- confirm if everything looks ok: https

[2022-11-08 00:10] dubrie commented on #113
Just to clarify from my perspective, we have a description section in each of the patterns already. Is the ask to create a second, shorter, description that goes in the front matter section?  Is it possible to use the description as it is today or do we want to re-write new ones for every pattern?

[2022-11-08 00:41] dubrie commented on #168
Done!  Updates have been merged into main, thank you!!

[2022-11-08 00:41] #168 closed

[2022-11-08 12:44] holanita commented on #113
I had the same understanding @zanete. if this is just a copy-paste job, I can do this myself if no one else has time for this.

[2022-11-08 15:08] holanita commented on #169
Notes (to be added to the issues as well)
- tagged view: descriptions will be copy-pasted, I'll take care of this
- code freeze: we should commit to dev from now on
- docusaurus: Bill asked for a preview of the dev branch, something like dev.greensoftware... (Asim will figure this out)
- quarterly review: will revisit this after cop, we might build this into the actual workflow and do this on an o

[2022-11-08 16:51] holanita commented on #113
This has been discussed in today's team meeting. We'll go for the copy-paste option. I will do this tomorrow.

[2022-11-08 16:54] holanita opened #174 "Create preview for dev branch"
adding this quickly as I'm short on time. to be completed later.

Bill asked for a preview of the dev branch, something like dev.greensoftware... (Asim will figure this out)

[2022-11-08 16:54] holanita commented on #163
As discussed in today's meeting this is all fine now. From now on we should commit to dev.
Bill asked for a preview of the dev branch, something like dev.greensoftware... (Asim will figure this out)
To be continued here: https://github.com/Green-Software-Foundation/green-software-patterns/issues/174

[2022-11-08 16:54] #163 closed

[2022-11-08 16:56] holanita opened #175 "[PM] Discuss review process after COP"
Why: to simplify the review process
What: Asim suggested all the review tasks should be built into our daily workflow instead of doing quarterly consistency reviews and periodically following up on SCI updates

To be discussed and updated in the next team meeting after COP
- [ ] how to handle consistency review
- [ ] how to handle SCI updates
- [ ] task frequency, task owner, updating workflow and

[2022-11-08 17:00] holanita commented on #80
As of No 8 (just before COP), we have 40 live reviewed patterns and around 10 more are in progress.
Completion rate of [pending issues](https://github.com/Green-Software-Foundation/green-software-patterns/milestone/6) remains 57%.

[2022-11-09 13:43] holanita commented on #113
Okay so I've just submitted a PR for AI and WEB, but this seems a bit more tricky than expected.

1) It's interesting to look at all the descriptions at the same time. I might be wrong but now it feels like some describe the problem, while some describe the solution or maybe both.
2) I have shortened some descriptions and kept a few long ones. Might be best to test a long one first to see if somet

[2022-11-09 14:02] greenhsu123 commented on #113
@holanita ah... i am in Asia at the moment, it will have to wait till tomorrow am for me! could you make a start from the top? and i can catch up from the bottom when i wake up tomorrow :)

[2022-11-09 18:40] holanita commented on #113
No worries, I've just done Cloud too. @dubrie for Cloud I have used the original descriptions in most cases. Some have special characters like colons or urls, so I have removed some sentences from those descriptions.

(I forgot that I should have committed to dev from the beginning so most of them are in a new branch sorry. I had 1 accidental commit [in dev](https://github.com/Green-Software-Found

[2022-11-10 06:19] holanita commented on #113
Thanks for reviewing the PR @dubrie. Just checked all the tags on the website everything seems fine.

[2022-11-10 06:19] #113 closed

[2022-11-10 06:37] holanita opened #184 "Add additional description field"
When: after COP
What: add the new description field to the template, guide(s) and the unpublished patterns as needed
Why: to make sure these descriptions appear in tagged view under the pattern titles

To be discussed in our next meeting
- [x] this has been added to published patterns
- [ ] to be added to the patterns which are still under review before we publish them
- [x] to be added to the tem

[2022-11-10 06:37] holanita commented on #184
@dubrie just fyi I'll add this to the next meeting agenda

[2022-11-10 14:45] holanita opened #185 "[PM] Useful assets and links"
Last updated on November 10:

- [Website](https://patterns.greensoftware.foundation/)
- [Project Board/Kanban View](https://github.com/orgs/Green-Software-Foundation/projects/10/views/2)
- [Live PR FAQ](https://github.com/Green-Software-Foundation/pr-faqs/blob/main/live/green-software-patterns.pr-faq.md)
- [Google Drive project folder](https://drive.google.com/drive/folders/1N7d2lcUgiA4z07wMqCwNmR

[2022-11-10 15:49] holanita opened #186 "2022 11 15 - Green Software Patterns Agenda & Minutes"
## Date
2022-11-15 - 1.30pm UTC

## Meeting notes
- Consistency review process remains to be discussed as Asim couldn't attend the call today.
- For the time being, the editor will be available to review further patterns in batches. Use the label 'editing'.
- It is important to have a lead for each category so we can make more progress. Leads should take on pull request reviewing as well to help w

[2022-11-10 15:51] holanita commented on #169
One more task/issue created, to be continued in next agenda
- https://github.com/Green-Software-Foundation/green-software-patterns/issues/184
- https://github.com/Green-Software-Foundation/green-software-patterns/issues/186

[2022-11-11 13:58] franziska-nttdata-hesselfeld commented on #165
Thanks for the proposed pattern, I converted it to an PR :)

[2022-11-14 14:11] holanita commented on #80
From now on, KPIs will be tracked [in this spreadsheet](https://docs.google.com/spreadsheets/d/1pXJS9ElFFuJ3BaSIWhOJrVMIXlu_s0tN1wTsUV7IJyY/edit#gid=0). The [tracker for pending issues](https://github.com/Green-Software-Foundation/green-software-patterns/milestone/6) is still available.

[2022-11-16 16:51] navveenb commented on #186
@holanita , I am confirming for AI. Thanks

[2022-11-18 09:11] holanita opened #191 "[PM] Follow up with editor and review patterns in batches"
Why: as discussed in the last team meeting, it would be great if Cath could review new patterns in weekly batches.
What: I will be following up with her as needed. The team should label each applicable pattern as _editing_.

[2022-11-18 09:13] holanita commented on #81
Remains on hold. As discussed, will be focusing on working with category leads / SMEs for the time being.

[2022-11-18 09:16] holanita opened #192 "[PATT] [PM] Weekly stats on website traffic on patterns pages"
@osamajandali Hi. Not sure if you are the right person to contact. This request comes from the Patterns project team. We would like to get weekly reports on website statistics so we have a better understanding on how much traffic this page gets.

If this works, I'll open another ticket for the Training project as well, since this would be useful for that project as well.

Can you help us with this

[2022-11-18 09:18] osamajandali commented on #192
I can setup google analytics yes
@jawache will that be okay or we can do another thing?

[2022-11-18 09:24] holanita opened #193 "Promote patterns in various channels"
Why: to increase our progress
What: increase our own marketing efforts or get help from SMEs, org leads, etc.

To be discussed. For the time being GSF's marketing efforts are focused on the SOGS survey.

[2022-11-18 09:29] holanita commented on #87
No applications received lately. To be continued here:
- https://github.com/Green-Software-Foundation/green-software-patterns/issues/23

[2022-11-18 09:29] #87 closed

[2022-11-18 09:31] holanita opened #194 "2022 11 22 - Green Software Patterns Agenda & Minutes"
## Date
2022-11-22 - 1.30pm UTC

## Important next steps
- https://github.com/Green-Software-Foundation/green-software-patterns/issues/23
Bill to discuss workflow and availability with category leads (Aoife, Markus and Navveen).
- https://github.com/Green-Software-Foundation/green-software-patterns/issues/175
Still to be discussed w/ Asim to understand how he wants to merge the consistency review

[2022-11-18 09:31] holanita commented on #186
To be continued here:
- https://github.com/Green-Software-Foundation/green-software-patterns/issues/194

[2022-11-18 09:31] #186 closed

[2022-11-18 09:33] holanita commented on #194
@dubrie here is the new agenda for next week, hopefully this will help you guys keep track of things in my absence

[2022-11-18 09:35] holanita commented on #194
@aoifefitton @markus-ntt-seidl @navveenb hi. just wanted to make sure you guys will be able to attend the next meeting so you can discuss next step with Bill in terms of leading each category? thanks.

[2022-11-18 09:38] aoifefitton commented on #194
Hi Anita,

I'll be in attendance :)

Aoife

On Fri 18 Nov 2022, 09:35 holanita, ***@***.***> wrote:

[2022-11-18 09:42] markus-ntt-seidl commented on #194
@holanita I'll be there, would be good to discuss also the "What is expected", so we are all on the same page.
Looking forward to it!

[2022-11-18 09:50] navveenb commented on #194
Yes, will join in. Thanks

[2022-11-18 10:16] holanita commented on #194
Perfect thank you all! 👍 The plan is to discuss both what is expected and what is doable.

[2022-11-21 10:36] zanete commented on #192
@osamajandali google analytics is a go (from @jawache )

[2022-11-22 15:21] jawache commented on #175
Discussed that we will do one consistency review, after which we can discuss the process again - depending on feedback.

[2022-11-22 15:33] markus-ntt-seidl commented on #193
When looking at AWS on how they promote patterns. They provide example architectures for specific use cases. That's also something we could do, for example provide some example architectures that implement the patterns we promote.

[2022-11-22 16:37] greenhsu123 commented on #193
I feel like we have come full circle :) All those "reusable" decks would fit v nicely with the speakers' project!

[2022-11-25 21:05] ng-druid opened #195 "Add emissions reporting and optional button to contribute to offset in header"
**Is your feature request related to a problem? Please describe.**
Websites should expose their carbon emissions and provide opportunities for everyone to contribute to offsetting.

**Describe the solution you'd like**

Add emissions reporting to headers and button to offset.

<img width="1440" alt="Screen Shot 2022-11-25 at 2 51 48 PM" src="https://user-images.githubusercontent.com/73197190/20405

[2022-11-26 18:13] osamajandali commented on #192
@jawache It turns out that we are using the same tracking id that we use in the website everywhere, in all docusaurus projects, so that means that the traffic we see is coming from all those websites.
Do you think we should keep it like this or we should separate ?

@holanita We have data on google analytics, I am not so good at extracting data but if you tell me what data exactly that you're look

[2022-11-27 09:13] jawache commented on #192
@osamajandali no we should use a separate Google tracking id, do you know/have permissions how to create them? (You can create like 50 for the same account)

[2022-11-28 10:23] holanita commented on #195
@ng-druid thanks for your comments. Assigning @greenhsu123 and @jawache for review. Adding this to the next agenda.

[2022-11-29 12:19] holanita commented on #175
@jawache I'm not sure what exactly this means for our workflow:
- Is the consistency review planned for sometime this year?
- Does that mean that we are not supposed to publish any new patterns until then?
- So we just make sure we have more proposed patterns (marketing?), then take them through the review process (SMEs)?
- Finally, can Cath (the technical writer) review them all in one batch late

[2022-11-29 12:22] holanita commented on #193
Sounds good. We have to clarify a few details to be able to get started:
- I'll need help to map out the steps / tasks
- need to know who will / can work on this
- let's also define the timeline to complete this
TBD today

[2022-11-29 12:25] holanita commented on #174
@zanete is [PATT] an abbreviation for patterns? Sorry I wasn't aware. Have you / Osama picked this up already?

[2022-11-29 12:28] holanita commented on #80
Nov 29: 40 published, 21 in review, 20 proposed.

[2022-11-29 12:33] holanita opened #196 "2022 11 29 - Green Software Patterns Agenda & Minutes"
## Date
2022-11-29 - 1.30pm UTC

## Important next steps
**Progress**: We still have 40 published patterns and the number of issues and PRs hasn't changed much either.
**Marketing**: Marketing activities are focused on SOGS for now. The question remains: can we do more to promote this?
**Questions**: 1 open question to be discussed, see 4th ticket below

- https://github.com/Green-Software-Foundat

[2022-11-29 12:35] holanita commented on #194
I couldn't find any logs on what was discussed in the meeting in the end, so I've included all these items in the next agenda. Don't have the attendance information either. To be continued here:
- https://github.com/Green-Software-Foundation/green-software-patterns/issues/196

[2022-11-29 12:35] #194 closed

[2022-11-29 15:43] holanita commented on #196
We were discussing #193 mostly. Conversation to be continued next time.
Briefly discussed #195. @jawache might be the best person to respond.
We also discussed the audit that is listed under 'future plans'.
TBC next time.

[2022-11-29 15:44] holanita opened #197 "Audit our own resources"
Scope: graphics, css, svg formats, scripts etc
Why: to make sure we fully comply with our guidelines

Briefly discussed [in today's meeting](https://github.com/Green-Software-Foundation/green-software-patterns/issues/196). To be continued next time.

[2022-11-29 15:48] holanita commented on #193
Discussions in today's meeting (to be continued next time):
- 'Pattern Party' event
- explain theory + sample pattern + real world application
- 2-3 min pitch / podcast for each category (AI, web, cloud)
- 1-minute online video
- use case / training course on applying patterns (use Shrini's example? or Aditi?)
- collaborate with SCI group (apply SCI, look at ways to reduce it, this is how you gene

[2022-11-29 15:49] holanita commented on #195
Discussed very briefly in today's meeting. @jawache I've assigned this to you now based on the discussion.